# GCP Project ID
PROJECT_ID=<project-id>
# GCP Region
REGION=<region>
# Fully qualified name of the deployed Cloud Run service or worker pool to scale
# Example: projects/my-project/locations/us-central1/workerpools/my-kafka-consumer
CONSUMER_SERVICE_NAME=<deployed-kafka-consumer>
# Email of the Service Account used by the consumer workload. The setup script
# will grant the scaler service account permission to use consumer service
# account.
# Example: my-consumer-service-account@my-project.iam.gserviceaccount.com
CONSUMER_SA_EMAIL=<kafka-consumer-service-account-email>
# Kafka consumer group ID to monitor
CONSUMER_GROUP_ID=<kafka-consumer-group-id>

# Name for the scaler Cloud Run service to be created
SCALER_SERVICE_NAME=<kafka-autoscaler-service-name>
# Full Artifact Registry path to the scaler image built in the previous step
# Example: us-central1-docker.pkg.dev/my-project/my-repo/my_kafka_autoscaler
SCALER_IMAGE_PATH=<kafka-autoscaler-image-URI>
# Fully qualified name of the existing secret which contains scaling
# configuration
# Example: projects/my-project/secrets/scaler-config
SCALER_CONFIG_SECRET=<kafka-autoscaler-config-secret-name>
# Fully qualified name of the existing secret which contains the Kafka Admin
# Client properties for communicating with your Kafka broker
# Example: projects/my-project/secrets/client-properties
ADMIN_CLIENT_SECRET=<kafka-admin-client-secret-name>

# Frequency in seconds for autoscaling checks. We recommend 5+ seconds.
CYCLE_SECONDS=<scaler-check-frequency e.g. 15>
# Name for the Cloud Tasks queue (required if CYCLE_SECONDS < 60)
CLOUD_TASKS_QUEUE_NAME=<cloud-tasks-queue-for-scaling-checks>
# Name for the Service Account to be created for Cloud Tasks to invoke the scaler (required if CYCLE_SECONDS < 60)
TASKS_SERVICE_ACCOUNT=<tasks-service-account-name>

# Optional: By default, this autoscaler will scale on the combined lag across
# all topics that the specified consumer group is subscribed to. You can
# optionally specify a single topic id which will cause your scaler to scale
# solely on the lag of specified topic.
TOPIC_ID=<kafka-topic-id>

# Optional: Set to true to output scaler metrics to Cloud Monitoring.
# The scaler service account will need roles/monitoring.metricWriter.
OUTPUT_SCALER_METRICS=false

# Optional: VPC Network name for the scaler service
NETWORK=<vpc-network>

# Optional: VPC Subnet name for the scaler service
SUBNET=<vpc-subnet>